$main-color: #F6F5FF;
$title-color: #101750;
$subtitle-color: #8A8FB9;

@mixin view-option {
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;

  &.selected {
    background-color: #dbd7f9;
    ;
    transform: scale(1.2, 1.2);
  }
}

@mixin title {
  color: $title-color;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 37px 0;
  position: relative;

  &:after {
    content: '';
    width: 40%;
    position: absolute;
    top: 20px;
    left: 0;
    height: 1px;
    background-color: $title-color;
  }
}

.home__content {
  margin: 80px auto 100px;
  max-width: 1200px;
}

.home__sort-products {
  display: flex;
  justify-content: space-between;
}

.home__found-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: $title-color;
  margin-bottom: 8px;
}

.home__found-subtitle {
  color: $subtitle-color;
  font-size: 1.2rem;
}

.sort-products-bar {
  display: flex;
  align-items: center;
}

.sort-products-bar__title {
  color: $title-color;
  font-size: 1.5rem;
  margin-right: 10px;
}

.home__sort-bar {
  color: $subtitle-color;
  background-color: #fff;
  border: solid 2px #E7E6EF;
  height: 38px;
  width: 150px;

  &:hover {
    background-color: #f5f5f9;
  }
}

.sort-products__view {
  display: flex;
  margin: 0 10px;
  align-items: center;
}

.products-view__title {
  color: $title-color;
  font-size: 1.5rem;
  align-items: center;
}

.products-view__list {
  background-image: url('../image/svg/Vector-view.svg');
  @include view-option();
  margin: 2px 15px 0;
}

.products-view__pair {
  background-image: url('../image/svg/clarity_grid-view-solid.svg');
  @include view-option();
  height: 27px;
}

.sort-products__search-input {
  border: solid 2px #E7E6EF;
  height: 38px;
  width: 180px;
  padding: 5px;
  font-size: 1.3rem;
  margin: 7px 0 7px 10px;
  position: relative;

  &:hover {
    background-color: #f5f5f9;
  }

  &:focus {
    border: solid 2px #FB2E86;
  }
}

.sort-products__search-btn {
  height: 40px;
  width: 35px;
  position: relative;
  top: 5px;
  left: -5px;
  background-color: #FB2E86;

  &:hover {
    background-color: #cb1966;
  }
}

.home-products {
  display: flex;
  justify-content: space-between;
  margin: 80px 0 100px;
}

.home-products__filters {
  flex: 0 1 20%;
  margin-right: 30px;
}

.btn-filter {
  background-color: #FB2E86;
  color: #fff;
  height: 30px;
  width: 90px;
  font-size: 1.2rem;
  border-radius: 3px;
  font-weight: 600;
  margin-left: 10px;

  &:hover {
    background-color: #cb1966;
  }
}

.filter-category {
  margin: 15px 0;
}

.filter-category__list {
  height: 10rem;
  overflow: hidden;
  overflow-y: auto;
  padding: 2%;
  font-size: 1.3rem;
}

.filter-category__title {
  @include title()
}

.checkbox-line {
  line-height: 1.2rem;
  font-size: 1.5rem;
}

.checkbox-input {
  position: relative;

  &:checked {
    accent-color: #E5E0FC;
    width: 1.1rem;
    height: 1.1rem;
  }

  &:hover {
    accent-color: #603EFF;
  }
}

.filter-brand {
  margin: 15px 0;
}

.filter-brand__list {
  height: 10rem;
  overflow: hidden;
  overflow-y: auto;
  padding: 2%;
  font-size: 1.3rem;
}

.filter-brand__title {
  @include title()
}

.filter-price__title {
  @include title()
}

.filter-values {
  display: flex;
  justify-content: space-between;
  margin: 5px 25px;
  font-weight: 600;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  cursor: grab;
}

.filter-price__input,
.filter-stock__input {
  -webkit-appearance: none;
}

.noUi-connect {
  background-color: #958fc0;
}

.input__min {
  position: absolute;
  height: 4px;
}

.input__max {
  position: absolute;
}

.filter-stock__title {
  @include title();
  margin-top: 30px;
}

.home-products__items {
  flex: 0 1 80%;
  display: flex;
  flex-direction: column;
  position: relative;

  &.double-view {
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    flex-wrap: wrap;

    .home-products__item {
      width: 49%;
      height: 280px;
    }

    .home-item__image {
      width: 250px;
    }

    .home-item__details {
      flex: 0 1 auto;
    }
  }
}

.home-products__not-found {
  font-size: 2rem;
  font-weight: 600;
  color: $title-color;
  margin-top: 100px;
  position: absolute;
  top: 40px;
  left: 100px;
}

.home-products__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  height: 250px; 
  background-color: $main-color;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px 10px #F6F4FD;
}

.home-item__image {
  width: 280px; 
  margin: 30px 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.home-item__title {
  margin: 20px 10px;
  font-size: 1.5rem;
  color: #0D134E;
  font-weight: 600;
  &:hover {
    color: #8085a5;
  }
}

.home-item__details {
  margin: 30px 0 0 10px;
  font-weight: 600;
  font-size: 1.2rem;
  flex: 0 1 75%;
}

.home-item__detail {
  margin: 12px;
}

.home-btn__add {
  background-image: url('../image/svg/fluent_cart-24-regular.svg');
  height: 35px;
  width: 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  margin: 5px;
  &:hover{
    border: 2px dotted #535399;
  }
  &.in-cart {
    background-image: url('../image/svg/card_add.svg');
    background-size: contain;
  }
}

.home-btn__detail {
  background-image: url('../image/svg/uil_search-plus.svg');
  height: 30px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  margin: 5px;
  &:hover{
    border: 2px dotted #535399;
  }
}